.fundo-body{
    background-color: #E5E5E5;
}
.nav-azul{
    background-color: #0A51A1;
    height: 120px;
}
.azul-padrao{
    background-color: #0A51A1 !important;
}
.cor-twitter, .cor-twitter:hover{
    background-color: #00ACEE;
}
.cor-whatsapp, .cor-whatsapp:hover{
    background-color: #00BB2D;
}
.cor-facebook, .cor-facebook:hover{
    background-color: #3B5998;
}
.menu-desktop a{
    height: 120px !important;
}
.marca-topo{
    width: 300px !important;
    margin: 10px 0 !important;
}
.fonte-menu{
    font-family: Josefin+Sans;
    font-weight: 700;
    font-size: 12px !important;
}
.espaco-topo{
    margin-top: 55px;
}
.texto-slide{
    font-family: Josefin+Sans;
    font-weight: 300;
    font-size: 36px !important;
    background-color: rgba(229,229,229,0.21);
    padding: 20px;
}
.texto-btn-slide{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px !important;
    border-radius: 0 !important;
}
.slider, .slides {
    height: 650px !important;
}
.ultimas-noticias-titulo-home{
    font-family: Montserrat;
    font-weight: 800;
    font-size: 24px !important;
    color: #0A8BD4;
    margin-top: 50px;
    margin-bottom: 50px;
}
.ultimas-noticias-texto-home{
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 24px !important;
    color: #000000;
    line-height: 26px;
}


/***************MOBILE********************/
@media only screen and (max-width: 600px) {
    .nav-azul{
        height: 70px;
    }
    .menu-desktop a{
        height: 70px !important;
    }
    .marca-topo{
        width: 150px !important;
        margin: 10px 0 !important;
    }
}